/* my styles */
/*body         {background: #efefef;} */
.footer       {background: #ACB5BB; padding: 3em 0 2em;   margin-top: 2em}

.navbar                 {padding-left: 0px}
.banner                 {padding: 0.5rem 0; background: #D6EAF8 /* blue */}
.banner                 {background: #ACB5BB /* grey from fruits footer */}
.header p               {margin-bottom: 0.5rem}

#filter                 {margin-bottom: 6px; margin-top: 3px; width:100%; border-color: #ACB5BB}
#filter::placeholder    {font-style: italic}
#triangle-down          {width: 0; height: 0; margin-top: -0.8rem; margin-left: 20px; border-left: 20px solid transparent; border-right: 20px solid transparent; border-top: 30px solid #ACB5BB;  }

.dashboard              {margin-top: 0.5rem;}


/* basics */
h1                      {font-size: 2rem}
h3                      {font-size: 1.5rem}
h1, h2, h3              {font-weight: 300}


/* home */
#home .navbar-brand     {display: none}
.intro-header           {background-color: #ccc; min-height: 300px; padding-top: 3rem; margin-bottom: 20px}
.home h1                {font-size: 3em; }
.subheading             {font-size: 1.5rem; font-weight: 300; font-style: italic;}
.fancyLI                {list-style-type: none; }
.tick li::before     {content: "\f14a"; font-family: 'Font Awesome 5 free'; font-weight: 900; margin:0 10px 0 -20px; color: #6c757d}
.chevron li::before     {content: "\f138"; font-family: 'Font Awesome 5 free'; font-weight: 900; margin:0 10px 0 -20px; color: #6c757d}

/* composer */
#chart-composite-composers #this-composer     {position: absolute; right: 50%}

/* first */
#first                  {font-size: 80%; font-weight: 300}
#first span             {display: block; font-size: 1.2rem; }

/*  map  */
#citiesMap svg          {background: #efefef}



/* chart  elements*/
/* black text on rows (else cant read white when extends beyond bar)  */
.dc-chart g.row text			{ fill: #000;}


/* dc.js checkboxes -> row */
.dc-cbox-group        {list-style-type: none; padding: 0; margin: 0 0 0.5rem 0;}
.dc-cbox-group label  {font-weight: 500; padding: 3px 6px; margin-bottom: 2px}
.dc-cbox-group input  {display: none}

.dc-cbox-group label:hover,
.dc-cbox-group input:hover {cursor: pointer; background: #ddd}

/* sidebar list */
.dc-cbox-group > li   {line-height: 1; }
.dc-cbox-group input[type=checkbox]:checked + label { background: #85C1E9 } /* active = blue*/
.dc-cbox-group input[type=radio]:checked + label { background: #85C1E9 } /* active = blue*/

/* top bar buttons #selectPlaces  */
#selectPlaces .dc-cbox-group label  { background: #ddd }
#selectPlaces .dc-cbox-group > li   { display: inline; padding-right: 10px}
#selectPlaces .dc-cbox-group input[type=checkbox]:checked + label { background: #85C1E9 } /* active = blue*/


/* datatable */
.table 			          {margin-top: 20px}
.filter-count,
.total-count 	        {font-weight: bold}

.table-striped>tbody>tr:nth-of-type(odd) { background-color: #EDEDED; /* was f9f9f9 */}

/* hide the group label rows */
.dc-table-group        { visibility: collapse; display: none;}

/* remove top border */
table>tbody+tbody      { border-top: 0px !important; }

#download              {float: right;}










/*
 * Font Awesome Free 5.8.1 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 Need to include /vendor/fontawesome-5.8.1.min.css too
 */
@font-face {
 font-family: 'Font Awesome 5 Free';
 font-style: normal;
 font-weight: 400;
 font-display: auto;
 src: url("../vendor/fa-regular-400.eot");
 src: url("../vendor/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../vendor/fa-regular-400.woff2") format("woff2"), url("../vendor/fa-regular-400.woff") format("woff"), url("../vendor/fa-regular-400.ttf") format("truetype"), url("../vendor/fa-regular-400.svg#fontawesome") format("svg"); }
.far {
 font-family: 'Font Awesome 5 Free';
 font-weight: 400; }

@font-face {
 font-family: 'Font Awesome 5 Free';
 font-style: normal;
 font-weight: 900;
 font-display: auto;
 src: url("../vendor/fa-solid-900.eot");
 src: url("../vendor/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../vendor/fa-solid-900.woff2") format("woff2"), url("../vendor/fa-solid-900.woff") format("woff"), url("../vendor/fa-solid-900.ttf") format("truetype"), url("../vendor/fa-solid-900.svg#fontawesome") format("svg"); }
.fa,
.fas {
 font-family: 'Font Awesome 5 Free';
 font-weight: 900; }

@font-face {
 font-family: 'Font Awesome 5 Brands';
 font-style: normal;
 font-weight: normal;
 font-display: auto;
 src: url("../vendor/fa-brands-400.eot");
 src: url("../vendor/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../vendor/fa-brands-400.woff2") format("woff2"), url("../vendor/fa-brands-400.woff") format("woff"), url("../vendor/fa-brands-400.ttf") format("truetype"), url("../vendor/fa-brands-400.svg#fontawesome") format("svg"); }
.fab {
 font-family: 'Font Awesome 5 Brands'; }
